{% extends 'academicis_app/layout.html'%}

{% block content %}
    <h5>ข้อมูลผลการเรียน > ข้อมูลสมรรถนะภาษาอังกฤษ</h5>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="font-weight: bold;">สมรรถนะภาษาอังกฤษของนักศึกษา</a>
        </li>
    </ul>
    <br>
    <div style="text-align:center;">
        <iframe width="100%" height="900" src="https://datastudio.google.com/embed/reporting/469e2667-eadb-4f3c-b899-25671230c15d/page/d2KBC" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}