{% extends 'academicis_app/layout.html'%}
{% load static %}
{% block content %}
<h5>การจัดการข้อมูล > อัปโหลดไฟล์ (.csv)</h5>
<br>
{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<h6 style="text-align: center;">{{message}}</h6>
<br>
<button class="btn btn-outline-info" type="button" style="margin: auto auto;display: block;" onclick="window.location.href='/academicis/uploadfile'">กลับสู่หน้าอัปโหลดไฟล์</button>
{% elif message.tags == "success" %}
<img src="{% static 'images/file.png' %}" style="margin: auto auto;display: block; width:10%; height: 10%;">
<br>
<h6 style="text-align: center;">{{message}}</h6>
<br>
<button class="btn btn-outline-info" type="button" style="margin: auto auto;display: block;" onclick="window.location.href='/academicis/uploadfile'">กลับสู่หน้าอัปโหลดไฟล์</button>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}