{% extends 'academicis_app/layout.html'%}
{% block content %}
    <h5>การจัดการข้อมูล > อัปโหลดไฟล์ (.csv)</h5>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="fileLabel">ไฟล์สกุล CSV : </label>&nbsp;&nbsp;
        <input type="file" name="file">
        <button class="btn btn-outline-info" type="submit">ต่อไป</button>
    </form>
    {% if messages %}
        {% for message in messages %} 
            {% if message.tags == "error" %}
                <script>alert("{{message}}")</script>
                <!-- <strong>
                    {{message}}
                </strong> -->
            {% elif message.tags == "success" %}
                <form action="{% url 'check_data' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <hr>
                    <label for="fileLabel">ไฟล์ที่เลือก : </label>&nbsp;&nbsp;
                    <input type="text" value="{{file}}" disabled><br>&nbsp;&nbsp;
                    <input type="hidden" name="fileDB" value="{{data}}">
                    <label>ประเภทข้อมูล : </label>&nbsp;&nbsp;
                    <select class="custom-select" name="choice" style="width: 20%;">
                        <option value="student">ข้อมูลนักศึกษา</option>
                        <option value="enrollment">ข้อมูลการลงทะเบียน</option>
                        <option value="grade">ข้อมูล GPA</option>
                        <option value="state">ข้อมูลนักศึกษาสถานะไม่ปกติ</option>
                        <option value="course">ข้อมูลรายวิชา</option>
                        <option value="appType">ข้อมูลช่องทางการเข้าศึกษา</option>
                        <option value="plan">ข้อมูลแผนการรับข้านักศึกษา</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-outline-success" style="text-align: right;" type="submit" name="btn" value="upload">อัปโหลด</button>&nbsp;
                    <button class="btn btn-outline-danger" style="text-align: right;" type="submit" name="btn" value="cancel">ยกเลิก</button>
                </form> 
                <br>
                <strong>
                    {{message}}
                </strong>
                <div style="overflow:auto;">
                    <table>
                        {% for item in show %}
                            <tr>
                                {% for detail in item %}
                                    <td>{{detail}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
