table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin:0 auto;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}
  
td, th {
    border: 2px solid darkslategray;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 8px;
}

th, tr:nth-child(even) {
    background-color: #dddddd;
}